/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Main Wrapper */
.main-wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
}

/* Current Section */
.current-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(../img/background.jpg) center center/cover;
    padding: 3rem;
}

/* Current Section Top */
.current-section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .1rem;
}

/* Searchbox */
#searchbox {
    display: block;
    padding: 1.25rem 3rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color .3s ease;
    cursor: pointer;
}

#searchbox:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color .3s ease;
}

#searchbox:focus {
    cursor: text;
}

.current-section__top #city {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 300;
}

.current-section__top #country {
    color: #cccccc;
    font-size: 3rem;
}

/* Right Section Bottom */
.current-section__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.current-section__bottom .bottom__left {
    text-align: left;
}

#current-time {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 500;
}

#current-date {
    color: #cccccc;
    font-size: 3rem;
    font-weight: 500;
}

#current-temperature {
    color: #ffffff;
    font-size: 17rem;
    font-weight: 100;
}

@media (max-width: 900px) {
    /* Main Wrapper */
    .main-wrapper {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    /* Current Section */
    .current-section {
        text-align: left;
    }
    
    /* Current Section Top */
    .current-section__top {
        flex-direction: column;
    }

    /* Searchbox */
    #searchbox {
        margin: 1rem 0;
    }

    .top__location-information {
        margin: 3rem 0;
    }

    .current-section__top #city {
        font-size: 4rem;
    }

    .current-section__top #country {
        font-size: 2.5rem;
    }

    /* Current Section Bottom */
    #current-date {
        font-size: 2rem;
    }

    #current-temperature {
        font-size: 10rem;
    }
}